<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="utf-8">
    <title>My template</title>
</head>
<body>
 	<header>
 		<h1> <img src="/img/js.png" alt="JS Logo" width="300" height="300" /> Snippets.JS</h1>
 	</header>

 	<ul>
 		<li><a href="http://localhost:3000/">Home</a></li>
 		<li><a href="http://localhost:3000/add"> Add</a></li>
 	</ul>

    {{{body}}}
 
</body>
</html>
